.custom-cart-2 {
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 600;
  color: rgb(85, 136, 230);
  height: auto;
  align-items: baseline;
  background-color: rgb(242, 250, 252) !important;
  transition: all ease-in-out 0.3s;
}

.custom-cart-2:hover {
  transform: scale(1.05);
  cursor: pointer;
  transform-origin: center;
}

.custom-cart-2 img {
  object-fit: cover;
  overflow: hidden;
}
