.slick-list {
  margin: 0 -7px !important;
}

.slick-slide > div {
  padding: 0 7px !important;
}
.btn-style {
  border-radius: 10px !important;
  padding: 5px 10px !important;
  background-color: rgb(92, 174, 212);
  color: aliceblue;
}
