.slick-list {
  margin: 0 -10px !important;
}

.slick-slide > div {
  padding: 0 10px !important;
}
.btn-style {
  border-radius: 10px !important;
  padding: 15px 10px !important;
  background-color: #4edfdf;
  color: rgb(16, 17, 17);
}
